nav{
	width: 100%;
	text-align: center;
}
nav a{
	text-decoration: none;
	display: block;
	padding: 15px 30px;
	border-bottom: 1px solid white;
	color: #F4F6F9;
	font-weight: 300;
	transition: all 0.3s ease-in-out;
}
nav a .fa{
	color: #F4F6F9;
	font-size: 1.4rem;
	margin-right: 0.8rem;
	display: inline-block;
	width: 20px;
	position: relative;
	top: 2px;
}
nav a:hover{
	background: #282639;
	border-left: 5px solid #ff3333;
	padding: 15px 30px 15px 25px; 
}
nav a:hover .fa{
	color: #ff3333;
}

nav .active{
	background: #282639;
	border-left: 5px solid #ff3333;
	padding: 10px 30px 15px 25px; 
}
nav .active .fa{color: #ff3333;}
nav li:last-child a{border-bottom: none;}

.nav-bar{
	padding-top: 80px;
	width: 225px;
	height: 100%;
	left: -225px;
	position: absolute;
	background: #181818;
	z-index: 1;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}


#nav-bar-toggle{display: none;}

.toggle-btn{
	margin-left: 5%;
    text-decoration: none;
    font-size: 18px;
    color: rgba(255,255,255,0.8);
    cursor: pointer;
    float: left;
}

.toggle-btn:hover{
	color: rgba(255,255,255,1);
}

#nav-bar-toggle:checked ~ .nav-bar{
	position:absolute;
	left:0;
}

.nav-bar-exit{
	margin-left: 70%;
}
.nav-bar-title{

}