body {
  margin:0;  
  font-family: 'Comfortaa', cursive;
  background-color: #F5F5F5;
  color: #444;
}
.img {
   margin-top: -108px;
   margin-left: 0;
}
.banner {
  width: 100%;
  overflow: hidden;
  height: 100px;
  background: #181818;
  -webkit-gradient(linear, left bottom,left top, from(black), to(#92CF48));
}

.logo {
  height: 100px;
  width: 300px;
  float: left;
  }

.logo > a > img {
  margin: 15px;
}

.name {
  width: 400px;
  background: #004995;
  background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(rgba(0,73,149,1)), to(rgba(0,0,0, 0)), color-stop(.001,#ff3333));
  height: 100px;
  text-align: right;
  float:right;
}

.name h3 {
  text-shadow: 0.20em 0.05 #333;
  margin: 0 20;
  margin-top: 4px;
  color: #F4F4F4;
  font-size: 12px;
  letter-spacing: .1em;
}
h1{
  margin: 0 0 15;
  padding-bottom: 3px;
  margin-top: 15px;
  font-size: 25px;
  letter-spacing: .1em;
  line-height: 1.3em;
}
.name h1 {
  text-shadow: 0.09em 0.02em #333;
  margin: 0 20;
  margin-top: 15px;
  color: #F4F4F4;
  font-size: 25px;
  letter-spacing: .1em;
}

h4, h5 {
  color: #444;
  font-size: 19px;
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: normal;
  padding: 5px;
}

h5 {
  font-size: 14px;
}

#current-page > a {
  text-decoration: none;
  color: #F36900;
  background-color: white;
  padding: 0px 9px;
  border: solid 1px #D1D8E1;
  border-bottom: solid 1px white;
  padding-bottom: 2px;
 /* padding-top: 2px; */
  cursor: default;
}

.content {
  padding: 10px 20px;
  border: solid 1px #D1D8E1;
  background-color: white;
  line-height: 15px;
  margin: 0px 40px;
}

.content > h4 {
  font-size: 20px;
}

p {
  margin: 8px 0px;
  font-size: 13px;
  line-height: 14px;
}

p > a {
  color: #444;
}

p > img {
  float: right;
  margin: 0px 8px;
}
small {
  font-weight: 400;
  color: lightSlateGray;
  font-size: 11px;
}

.clear {
  clear:both;
}

hr {
  height: 0;
  border: none;
  padding:0;
  margin: 0;
  border-top: dotted 1px #9AB;
}

.class {
  margin-left:25px;
}

.next {
  margin-left: -34px;
  color: #B22222; 
  background-color:#FFFFE0;
}

#footer {
  padding: 10px;
  text-align: center;
  position: relative;
  font-size: 11px;
}

#footer > ul {
  list-style: none;
}

#footer > li {
  display: inline;
  border-left: solid 1px #758190;
  padding: 0 10px;
  color: #758190;
}

#footer > li > a {
  color: #758190;
}

#footer > li.first {
  border-left: none;
}

.column {
    float: left;
    width: 45%;
    height: 30%;
    padding: 10px;
    text-align: center;
    margin: auto;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
    margin:auto;
}

.privacy li{
  line-height: 1.8em;
  padding: 5px;
}

.home_section{
  padding: 15px;
  width: 40%;
  line-height: 1.2em;
  
}
.home_section > p{
  font-size: 1.15em;
  line-height: 1.4em;
}
.home_section_2{
  padding:15px;
  width: 50%;
  line-height: 1.2em;
}
.right{
  float: right;
  padding-right: 30px;
}
.left{
  float: left;
}